.pie-container{
    position: absolute;
    left: 15%;   
    top: 50%;
    height: 40%;
}

.pie-legend{
    font-family: sans-serif;
    font-size: 0.9vw;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    position:absolute;
    left: 35%;
    top: 63%;
}
