.Pie{
    background-color: #00b2e4;
    max-height: 100%;
    min-height: 100%;
}

.piechart{
    position: relative;
    right: 400px;   
    top: 200px; 
}

.pie-legend{
    font-family: sans-serif;
    font-size: large;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    position:absolute;
    left: 35%;
    top: 63%;
}
