.dropdown-all .p-multiselect-label {
  color: #0c4164;
  font-size: 0.9vw;
}

.dropdown-assessmentType {
  position: absolute;
  top: 27%;
  left: 10%;
  width: 17%;
  height: 5%;
}


.dropdown-race {
  position: absolute;
  top: 27%;
  left: 50%;
  width: 17%;
  height: 5%;
}

.dropdown-gender {
  position: absolute;
  top: 27%;
  left: 30%;
  width: 17%;
  height: 5%;
}

.dropdown-typeOfLoss {
  position: absolute;
  top: 35.5%;
  left: 10%;
  width: 17%;
  height: 5%;
}

.dropdown-level {
  position: absolute;
  top: 35.5%;
  left: 30%;
  width: 17%;
  height: 5%;
}

.dropdown-prePost {
  position: absolute;
  top: 35.5%;
  left: 50%;
  width: 17%;
  height: 5%;
}