@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  background-color: #00b2e4;
}

.App-header {
  background-color: #00b2e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  position: absolute;
  left: 5%;
  top: 4%;
  aspect-ratio: 10/3;
  width: 33%;
}

h1{
  position: absolute;
  color: #0c4164;
  font-family: "Rockwell";
  font-size: 5vw;
  left: 42%;
  top: 4.5%;
}

/* For Vertical Line in header */
.vl {
  position: absolute;
  border-left: 0.5vw solid #0c4164;
  aspect-ratio: 1/18;
  top: 5%;
  left: 39%;
}

hr {
  position: absolute;
  aspect-ratio: 180/1;
  justify-content: center;
  top: 48%;
}