@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  background-color: #00b2e4;
}

.App-header {
  background-color: #00b2e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  position: absolute;
  left: 70px;
  top: 30px;
  width: 500px;
  height: 150px;
}

h1{
  color: #0c4164;
  font-family: "Rockwell";
  font-size: 5rem;
  position: absolute;
  left: 630px;
  top: 30px;
}

/* For Vertical Line in header */
.vl {
  border-left: 6px solid #0c4164;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 590px;
}